@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansRegular.ttf');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSansLight.ttf');
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../fonts/OpenSansSemibold.ttf');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSansBold.ttf');
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'OpenSans';
  color: #000;
  background: #fff;
}
address {
  font-style: normal;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.top-divider {
  width: 100%;
  min-width: 1000px;
  height: 3px;
  background: url('../img/top-divider.png') repeat-x center center;
}
.line-divider {
  width: 100%;
  min-width: 1000px;
  height: 20px;
  margin-bottom: -5px;
  background: url('../img/line-divider.png') repeat-x center center;
}
.not-all {
  font-family: 'OpenSansSemibold';
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}
.block1 {
  min-height: 795px;
  background: url('../img/block1-bg.jpg') no-repeat center center;
}
.block1 header {
  padding-top: 15px;
}
.block1 .logo-top {
  display: block;
  width: 203px;
  height: 51px;
  margin-left: 20px;
  background: url('../img/logo.png') no-repeat center center;
}
.block1 .title-top {
  font-family: 'OpenSansSemiBold';
  width: 365px;
  font-weight: normal;
  margin: 5px 0 0 30px;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.block1 .contacts-top {
  margin-top: 5px;
  text-align: center;
}
.block1 .phone-top {
  font-family: 'OpenSansBold';
  font-size: 23px;
  line-height: 19px;
  margin: 0;
  color: #316284;
}
.block1 .email-top {
  font-size: 12px;
  color: #979797;
  text-decoration: none;
}
.block1 .btn-call-top {
  display: block;
  width: 203px;
  height: 42px;
  margin-top: 3px;
  padding-top: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-decoration: none;
  background: url('../img/btn-call-top.png') no-repeat center center;
}
.block1 .content {
  margin-top: 55px;
}
.block1 .content h2 {
  margin: 0;
  font-family: 'OpenSansBold';
  font-size: 41px;
  line-height: 55px;
  color: #0f33b2;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #fff;
}
.block1 .content h4 {
  margin: 35px 0 0 0;
  font-family: 'OpenSansSemiBold';
  font-size: 25px;
  line-height: 27px;
  color: #000;
  text-align: center;
}
.block1 .form-block1 {
  width: 280px;
  margin-top: 60px;
  padding: 15px 10px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 3px #333;
}
.block1 .form-block1 .form-title {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-family: 'OpenSansBold';
  color: #000;
  text-transform: uppercase;
}
.block1 .form-block1 .form-title span {
  font-size: 14px;
}
.block1 .form-block1 label,
.block1 .form-block1 label + input {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.block1 .form-block1 label {
  width: 31px;
  height: 31px;
  margin-right: 5px;
}
.block1 .form-block1 label[for="name-block1"] {
  background: url('../img/name-icon.png') no-repeat center center;
}
.block1 .form-block1 label[for="email-block1"] {
  background: url('../img/email-icon.png') no-repeat center center;
}
.block1 .form-block1 label[for="phone-block1"] {
  background: url('../img/phone-icon.png') no-repeat center center;
}
.block1 .form-block1 input[type=text],
.block1 .form-block1 input[type=email] {
  width: 220px;
  height: 31px;
  margin-bottom: 14px;
  padding: 5px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #6f6f6f;
  border: 1px solid #a8a8a8;
  box-shadow: inset 0 1px 5px #ccc;
}
.block1 .form-block1 input[type="submit"] {
  width: 100%;
  height: 49px;
  background: url('../img/btn-consult-block1.png') no-repeat center center;
  border: none;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'OpenSansSemibold';
}
.block1 .form-block1 input[type="submit"]:hover {
  color: #333333;
  background: url('../img/btn-consult-block1-h.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.block1 .form-block1 input[type="submit"]:active {
  background: url('../img/btn-consult-block1-a.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.block1 .form-block1 .safe {
  font-size: 9px;
  margin-top: 15px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url('../img/lock-icon.png') no-repeat left 5px center #dddddd;
  font-family: 'OpenSansSemibold';
}
.block2 {
  background: url('../img/block2-bg.jpg') repeat left top;
  padding: 30px 0;
}
.block2 .advantage-single {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-right: 62px;
  margin-bottom: 40px;
}
.block2 .advantage-single img {
  margin-left: 20px;
}
.block2 .advantage-single:nth-child(4n) {
  margin-right: -4px;
}
.block2 strong {
  display: block;
  margin-top: -15px;
  font-family: 'OpenSansBold';
  text-align: left;
  color: #164464;
  font-size: 17px;
  line-height: 19px;
  text-transform: uppercase;
}
.block3 {
  background: #fff;
  padding: 60px 0;
  position: relative;
}
.block3 .line-left {
  position: absolute;
  top: 81px;
  left: 0;
  width: 23%;
  height: 2px;
  background: #3c8cc3;
}
.block3 .line-right {
  position: absolute;
  top: 81px;
  right: 0;
  width: 40%;
  height: 2px;
  background: #6b6b6b;
}
.block3 h3 {
  margin: 0;
  font-size: 28px;
  padding: 0 5px;
  width: 670px;
  background: #fff;
  font-family: 'OpenSansSemibold';
  text-transform: uppercase;
}
.block3 h3 span {
  color: #3c8cc3;
}
.block3 .for-list {
  margin-top: 55px;
}
.block3 .for-single {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 213px;
  margin-right: 45px;
}
.block3 .for-single img {
  display: block;
  margin: 0 auto 10px;
}
.block3 .for-single strong {
  font-family: 'OpenSansBold';
  font-size: 18px;
  line-height: 22px;
  color: #303030;
  text-transform: uppercase;
}
.block3 .img-wrapper {
  height: 168px;
}
.block3 .for-single:nth-child(4n) {
  margin-right: -4px;
}
.block3 .for-3 strong {
  font-size: 16px;
}
.block4 {
  background: url('../img/block4-bg.jpg') no-repeat center center;
  padding: 39px 0;
}
.block4 .inner {
  width: 100%;
  padding: 35px 20px 40px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background: url('../img/block4-inner-bg.jpg') repeat center center;
}
.block4 .inner iframe {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.block4 .block-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  color: #303030;
  font-family: 'OpenSansSemibold';
  text-transform: uppercase;
}
.block4 .block-title span {
  color: #3c8cc3;
  font-family: 'OpenSans';
}
.block4 .bed-list {
  margin-top: 30px;
}
.block4 .bed-single {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin-right: 36px;
  text-align: center;
}
.block4 .bed-single strong {
  font-family: 'OpenSansBold';
  font-size: 18px;
  color: #6ba9d4;
  text-align: center;
  text-transform: uppercase;
}
.block4 .bed-single .desc {
  margin: 5px 0 0;
  text-align: left !important;
  font-size: 13px;
}
.block4 .bed-single:nth-child(5n) {
  margin-right: -4px;
}
.block4 .bed-1 .desc {
  text-align: center !important;
}
.block-item,
.block5,
.block6,
.block7,
.block8,
.block9,
.block10,
.block11,
.block12 {
  background: #fff;
  padding: 50px 0;
}
.block-item .block-title,
.block5 .block-title,
.block6 .block-title,
.block7 .block-title,
.block8 .block-title,
.block9 .block-title,
.block10 .block-title,
.block11 .block-title,
.block12 .block-title {
  text-align: center;
  margin: 0 0 30px;
  font-size: 28px;
  padding: 0 5px;
  color: #3c8cc3;
  font-family: 'OpenSans';
  background: #fff;
  text-transform: uppercase;
}
.block-item .block-title span,
.block5 .block-title span,
.block6 .block-title span,
.block7 .block-title span,
.block8 .block-title span,
.block9 .block-title span,
.block10 .block-title span,
.block11 .block-title span,
.block12 .block-title span {
  color: #303030;
  font-family: 'OpenSansSemibold';
}
.block-item .leftcol,
.block5 .leftcol,
.block6 .leftcol,
.block7 .leftcol,
.block8 .leftcol,
.block9 .leftcol,
.block10 .leftcol,
.block11 .leftcol,
.block12 .leftcol {
  margin-left: 15px;
  width: 475px;
}
.block-item .rightcol,
.block5 .rightcol,
.block6 .rightcol,
.block7 .rightcol,
.block8 .rightcol,
.block9 .rightcol,
.block10 .rightcol,
.block11 .rightcol,
.block12 .rightcol {
  margin-left: 15px;
  width: 480px;
}
.block-item .goods-preview,
.block5 .goods-preview,
.block6 .goods-preview,
.block7 .goods-preview,
.block8 .goods-preview,
.block9 .goods-preview,
.block10 .goods-preview,
.block11 .goods-preview,
.block12 .goods-preview {
  cursor: pointer;
}
.block-item .goods-preview img,
.block5 .goods-preview img,
.block6 .goods-preview img,
.block7 .goods-preview img,
.block8 .goods-preview img,
.block9 .goods-preview img,
.block10 .goods-preview img,
.block11 .goods-preview img,
.block12 .goods-preview img {
  width: 474px;
  height: 315px;
  border: 1px solid #3c8cc3;
  cursor: pointer;
}
.block-item .goods-preview img + p,
.block5 .goods-preview img + p,
.block6 .goods-preview img + p,
.block7 .goods-preview img + p,
.block8 .goods-preview img + p,
.block9 .goods-preview img + p,
.block10 .goods-preview img + p,
.block11 .goods-preview img + p,
.block12 .goods-preview img + p {
  background: #eaeaea;
  text-align: center;
  color: #adadad;
  font-size: 13px;
  margin: 0;
  margin-top: -5px;
  padding: 5px 0;
}
.block-item .goods-btn-block,
.block5 .goods-btn-block,
.block6 .goods-btn-block,
.block7 .goods-btn-block,
.block8 .goods-btn-block,
.block9 .goods-btn-block,
.block10 .goods-btn-block,
.block11 .goods-btn-block,
.block12 .goods-btn-block {
  margin-top: 15px;
  padding: 8px;
  background: #eaeaea;
}
.block-item .goods-btn-block .left,
.block5 .goods-btn-block .left,
.block6 .goods-btn-block .left,
.block7 .goods-btn-block .left,
.block8 .goods-btn-block .left,
.block9 .goods-btn-block .left,
.block10 .goods-btn-block .left,
.block11 .goods-btn-block .left,
.block12 .goods-btn-block .left {
  width: 324px;
}
.block-item .goods-btn-block .right,
.block5 .goods-btn-block .right,
.block6 .goods-btn-block .right,
.block7 .goods-btn-block .right,
.block8 .goods-btn-block .right,
.block9 .goods-btn-block .right,
.block10 .goods-btn-block .right,
.block11 .goods-btn-block .right,
.block12 .goods-btn-block .right {
  width: 133px;
}
.block-item .consult-block .consult,
.block5 .consult-block .consult,
.block6 .consult-block .consult,
.block7 .consult-block .consult,
.block8 .consult-block .consult,
.block9 .consult-block .consult,
.block10 .consult-block .consult,
.block11 .consult-block .consult,
.block12 .consult-block .consult {
  margin: 0;
  padding-left: 37px;
  background: url('../img/ask-icon.png') no-repeat left center;
  font-family: 'OpenSansBold';
  font-size: 20px;
  color: #3c8cc3;
}
.block-item .consult-block .consult span,
.block5 .consult-block .consult span,
.block6 .consult-block .consult span,
.block7 .consult-block .consult span,
.block8 .consult-block .consult span,
.block9 .consult-block .consult span,
.block10 .consult-block .consult span,
.block11 .consult-block .consult span,
.block12 .consult-block .consult span {
  display: block;
  line-height: 16px;
  font-family: 'OpenSans';
  font-size: 12px;
  color: #5a5a5a;
}
.block-item .price,
.block5 .price,
.block6 .price,
.block7 .price,
.block8 .price,
.block9 .price,
.block10 .price,
.block11 .price,
.block12 .price {
  margin: 0;
  font-family: 'OpenSansBold';
  font-size: 20px;
  color: #3c8cc3;
}
.block-item .price span,
.block5 .price span,
.block6 .price span,
.block7 .price span,
.block8 .price span,
.block9 .price span,
.block10 .price span,
.block11 .price span,
.block12 .price span {
  display: block;
  line-height: 16px;
  font-family: 'OpenSansSemiBold';
  font-size: 12px;
  color: #333;
}
.block-item .btn-buy-block5,
.block5 .btn-buy-block5,
.block6 .btn-buy-block5,
.block7 .btn-buy-block5,
.block8 .btn-buy-block5,
.block9 .btn-buy-block5,
.block10 .btn-buy-block5,
.block11 .btn-buy-block5,
.block12 .btn-buy-block5,
.block-item .btn-buy-block6,
.block5 .btn-buy-block6,
.block6 .btn-buy-block6,
.block7 .btn-buy-block6,
.block8 .btn-buy-block6,
.block9 .btn-buy-block6,
.block10 .btn-buy-block6,
.block11 .btn-buy-block6,
.block12 .btn-buy-block6,
.block-item .btn-buy-block7,
.block5 .btn-buy-block7,
.block6 .btn-buy-block7,
.block7 .btn-buy-block7,
.block8 .btn-buy-block7,
.block9 .btn-buy-block7,
.block10 .btn-buy-block7,
.block11 .btn-buy-block7,
.block12 .btn-buy-block7,
.block-item .btn-buy-block8,
.block5 .btn-buy-block8,
.block6 .btn-buy-block8,
.block7 .btn-buy-block8,
.block8 .btn-buy-block8,
.block9 .btn-buy-block8,
.block10 .btn-buy-block8,
.block11 .btn-buy-block8,
.block12 .btn-buy-block8,
.block-item .btn-buy-block9,
.block5 .btn-buy-block9,
.block6 .btn-buy-block9,
.block7 .btn-buy-block9,
.block8 .btn-buy-block9,
.block9 .btn-buy-block9,
.block10 .btn-buy-block9,
.block11 .btn-buy-block9,
.block12 .btn-buy-block9,
.block-item .btn-buy-block10,
.block5 .btn-buy-block10,
.block6 .btn-buy-block10,
.block7 .btn-buy-block10,
.block8 .btn-buy-block10,
.block9 .btn-buy-block10,
.block10 .btn-buy-block10,
.block11 .btn-buy-block10,
.block12 .btn-buy-block10,
.block-item .btn-buy-block11,
.block5 .btn-buy-block11,
.block6 .btn-buy-block11,
.block7 .btn-buy-block11,
.block8 .btn-buy-block11,
.block9 .btn-buy-block11,
.block10 .btn-buy-block11,
.block11 .btn-buy-block11,
.block12 .btn-buy-block11,
.block-item .btn-buy-block12,
.block5 .btn-buy-block12,
.block6 .btn-buy-block12,
.block7 .btn-buy-block12,
.block8 .btn-buy-block12,
.block9 .btn-buy-block12,
.block10 .btn-buy-block12,
.block11 .btn-buy-block12,
.block12 .btn-buy-block12 {
  display: block;
  width: 135px;
  height: 45px;
  margin-top: 10px;
  background: url('../img/btn-buy-block5.png') no-repeat center center;
  font-size: 16px;
  font-family: 'OpenSansBold';
  text-transform: uppercase;
  color: #333;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
}
.block-item .btn-buy-block5:hover,
.block5 .btn-buy-block5:hover,
.block6 .btn-buy-block5:hover,
.block7 .btn-buy-block5:hover,
.block8 .btn-buy-block5:hover,
.block9 .btn-buy-block5:hover,
.block10 .btn-buy-block5:hover,
.block11 .btn-buy-block5:hover,
.block12 .btn-buy-block5:hover,
.block-item .btn-buy-block6:hover,
.block5 .btn-buy-block6:hover,
.block6 .btn-buy-block6:hover,
.block7 .btn-buy-block6:hover,
.block8 .btn-buy-block6:hover,
.block9 .btn-buy-block6:hover,
.block10 .btn-buy-block6:hover,
.block11 .btn-buy-block6:hover,
.block12 .btn-buy-block6:hover,
.block-item .btn-buy-block7:hover,
.block5 .btn-buy-block7:hover,
.block6 .btn-buy-block7:hover,
.block7 .btn-buy-block7:hover,
.block8 .btn-buy-block7:hover,
.block9 .btn-buy-block7:hover,
.block10 .btn-buy-block7:hover,
.block11 .btn-buy-block7:hover,
.block12 .btn-buy-block7:hover,
.block-item .btn-buy-block8:hover,
.block5 .btn-buy-block8:hover,
.block6 .btn-buy-block8:hover,
.block7 .btn-buy-block8:hover,
.block8 .btn-buy-block8:hover,
.block9 .btn-buy-block8:hover,
.block10 .btn-buy-block8:hover,
.block11 .btn-buy-block8:hover,
.block12 .btn-buy-block8:hover,
.block-item .btn-buy-block9:hover,
.block5 .btn-buy-block9:hover,
.block6 .btn-buy-block9:hover,
.block7 .btn-buy-block9:hover,
.block8 .btn-buy-block9:hover,
.block9 .btn-buy-block9:hover,
.block10 .btn-buy-block9:hover,
.block11 .btn-buy-block9:hover,
.block12 .btn-buy-block9:hover,
.block-item .btn-buy-block10:hover,
.block5 .btn-buy-block10:hover,
.block6 .btn-buy-block10:hover,
.block7 .btn-buy-block10:hover,
.block8 .btn-buy-block10:hover,
.block9 .btn-buy-block10:hover,
.block10 .btn-buy-block10:hover,
.block11 .btn-buy-block10:hover,
.block12 .btn-buy-block10:hover,
.block-item .btn-buy-block11:hover,
.block5 .btn-buy-block11:hover,
.block6 .btn-buy-block11:hover,
.block7 .btn-buy-block11:hover,
.block8 .btn-buy-block11:hover,
.block9 .btn-buy-block11:hover,
.block10 .btn-buy-block11:hover,
.block11 .btn-buy-block11:hover,
.block12 .btn-buy-block11:hover,
.block-item .btn-buy-block12:hover,
.block5 .btn-buy-block12:hover,
.block6 .btn-buy-block12:hover,
.block7 .btn-buy-block12:hover,
.block8 .btn-buy-block12:hover,
.block9 .btn-buy-block12:hover,
.block10 .btn-buy-block12:hover,
.block11 .btn-buy-block12:hover,
.block12 .btn-buy-block12:hover {
  color: #333333;
  background: url('../img/btn-buy-block5-h.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.block-item .btn-buy-block5:active,
.block5 .btn-buy-block5:active,
.block6 .btn-buy-block5:active,
.block7 .btn-buy-block5:active,
.block8 .btn-buy-block5:active,
.block9 .btn-buy-block5:active,
.block10 .btn-buy-block5:active,
.block11 .btn-buy-block5:active,
.block12 .btn-buy-block5:active,
.block-item .btn-buy-block6:active,
.block5 .btn-buy-block6:active,
.block6 .btn-buy-block6:active,
.block7 .btn-buy-block6:active,
.block8 .btn-buy-block6:active,
.block9 .btn-buy-block6:active,
.block10 .btn-buy-block6:active,
.block11 .btn-buy-block6:active,
.block12 .btn-buy-block6:active,
.block-item .btn-buy-block7:active,
.block5 .btn-buy-block7:active,
.block6 .btn-buy-block7:active,
.block7 .btn-buy-block7:active,
.block8 .btn-buy-block7:active,
.block9 .btn-buy-block7:active,
.block10 .btn-buy-block7:active,
.block11 .btn-buy-block7:active,
.block12 .btn-buy-block7:active,
.block-item .btn-buy-block8:active,
.block5 .btn-buy-block8:active,
.block6 .btn-buy-block8:active,
.block7 .btn-buy-block8:active,
.block8 .btn-buy-block8:active,
.block9 .btn-buy-block8:active,
.block10 .btn-buy-block8:active,
.block11 .btn-buy-block8:active,
.block12 .btn-buy-block8:active,
.block-item .btn-buy-block9:active,
.block5 .btn-buy-block9:active,
.block6 .btn-buy-block9:active,
.block7 .btn-buy-block9:active,
.block8 .btn-buy-block9:active,
.block9 .btn-buy-block9:active,
.block10 .btn-buy-block9:active,
.block11 .btn-buy-block9:active,
.block12 .btn-buy-block9:active,
.block-item .btn-buy-block10:active,
.block5 .btn-buy-block10:active,
.block6 .btn-buy-block10:active,
.block7 .btn-buy-block10:active,
.block8 .btn-buy-block10:active,
.block9 .btn-buy-block10:active,
.block10 .btn-buy-block10:active,
.block11 .btn-buy-block10:active,
.block12 .btn-buy-block10:active,
.block-item .btn-buy-block11:active,
.block5 .btn-buy-block11:active,
.block6 .btn-buy-block11:active,
.block7 .btn-buy-block11:active,
.block8 .btn-buy-block11:active,
.block9 .btn-buy-block11:active,
.block10 .btn-buy-block11:active,
.block11 .btn-buy-block11:active,
.block12 .btn-buy-block11:active,
.block-item .btn-buy-block12:active,
.block5 .btn-buy-block12:active,
.block6 .btn-buy-block12:active,
.block7 .btn-buy-block12:active,
.block8 .btn-buy-block12:active,
.block9 .btn-buy-block12:active,
.block10 .btn-buy-block12:active,
.block11 .btn-buy-block12:active,
.block12 .btn-buy-block12:active {
  background: url('../img/btn-buy-block5-a.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.block-item .btn-about-block5,
.block5 .btn-about-block5,
.block6 .btn-about-block5,
.block7 .btn-about-block5,
.block8 .btn-about-block5,
.block9 .btn-about-block5,
.block10 .btn-about-block5,
.block11 .btn-about-block5,
.block12 .btn-about-block5,
.block-item .btn-about-block6,
.block5 .btn-about-block6,
.block6 .btn-about-block6,
.block7 .btn-about-block6,
.block8 .btn-about-block6,
.block9 .btn-about-block6,
.block10 .btn-about-block6,
.block11 .btn-about-block6,
.block12 .btn-about-block6,
.block-item .btn-about-block7,
.block5 .btn-about-block7,
.block6 .btn-about-block7,
.block7 .btn-about-block7,
.block8 .btn-about-block7,
.block9 .btn-about-block7,
.block10 .btn-about-block7,
.block11 .btn-about-block7,
.block12 .btn-about-block7,
.block-item .btn-about-block8,
.block5 .btn-about-block8,
.block6 .btn-about-block8,
.block7 .btn-about-block8,
.block8 .btn-about-block8,
.block9 .btn-about-block8,
.block10 .btn-about-block8,
.block11 .btn-about-block8,
.block12 .btn-about-block8,
.block-item .btn-about-block9,
.block5 .btn-about-block9,
.block6 .btn-about-block9,
.block7 .btn-about-block9,
.block8 .btn-about-block9,
.block9 .btn-about-block9,
.block10 .btn-about-block9,
.block11 .btn-about-block9,
.block12 .btn-about-block9,
.block-item .btn-about-block10,
.block5 .btn-about-block10,
.block6 .btn-about-block10,
.block7 .btn-about-block10,
.block8 .btn-about-block10,
.block9 .btn-about-block10,
.block10 .btn-about-block10,
.block11 .btn-about-block10,
.block12 .btn-about-block10,
.block-item .btn-about-block11,
.block5 .btn-about-block11,
.block6 .btn-about-block11,
.block7 .btn-about-block11,
.block8 .btn-about-block11,
.block9 .btn-about-block11,
.block10 .btn-about-block11,
.block11 .btn-about-block11,
.block12 .btn-about-block11,
.block-item .btn-about-block12,
.block5 .btn-about-block12,
.block6 .btn-about-block12,
.block7 .btn-about-block12,
.block8 .btn-about-block12,
.block9 .btn-about-block12,
.block10 .btn-about-block12,
.block11 .btn-about-block12,
.block12 .btn-about-block12 {
  display: block;
  width: 314px;
  height: 45px;
  margin-top: 10px;
  background: url('../img/btn-about-block5.png') no-repeat center center;
  font-size: 12px;
  font-family: 'OpenSansBold';
  text-transform: uppercase;
  color: #fff;
  padding-top: 14px;
  text-align: center;
  text-decoration: none;
}
.block-item .goods-single,
.block5 .goods-single,
.block6 .goods-single,
.block7 .goods-single,
.block8 .goods-single,
.block9 .goods-single,
.block10 .goods-single,
.block11 .goods-single,
.block12 .goods-single {
  width: 105px;
  height: 105px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.block-item .goods-single img,
.block5 .goods-single img,
.block6 .goods-single img,
.block7 .goods-single img,
.block8 .goods-single img,
.block9 .goods-single img,
.block10 .goods-single img,
.block11 .goods-single img,
.block12 .goods-single img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40.5px;
  margin-left: -47.5px;
  width: 95px;
  height: 81px;
}
.block-item .goods-single:hover,
.block5 .goods-single:hover,
.block6 .goods-single:hover,
.block7 .goods-single:hover,
.block8 .goods-single:hover,
.block9 .goods-single:hover,
.block10 .goods-single:hover,
.block11 .goods-single:hover,
.block12 .goods-single:hover {
  border: 1px solid #666;
}
.block-item .goods-single:nth-child(4n),
.block5 .goods-single:nth-child(4n),
.block6 .goods-single:nth-child(4n),
.block7 .goods-single:nth-child(4n),
.block8 .goods-single:nth-child(4n),
.block9 .goods-single:nth-child(4n),
.block10 .goods-single:nth-child(4n),
.block11 .goods-single:nth-child(4n),
.block12 .goods-single:nth-child(4n) {
  margin-right: -4px;
}
.block-item .goods-title,
.block5 .goods-title,
.block6 .goods-title,
.block7 .goods-title,
.block8 .goods-title,
.block9 .goods-title,
.block10 .goods-title,
.block11 .goods-title,
.block12 .goods-title {
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 10px;
  font-family: 'OpenSansSemibold';
  text-transform: uppercase;
}
.block-item .goods-content,
.block5 .goods-content,
.block6 .goods-content,
.block7 .goods-content,
.block8 .goods-content,
.block9 .goods-content,
.block10 .goods-content,
.block11 .goods-content,
.block12 .goods-content {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
}
.block-item .goods-content p,
.block5 .goods-content p,
.block6 .goods-content p,
.block7 .goods-content p,
.block8 .goods-content p,
.block9 .goods-content p,
.block10 .goods-content p,
.block11 .goods-content p,
.block12 .goods-content p {
  margin: 0;
}
.block-item .goods-content .more,
.block5 .goods-content .more,
.block6 .goods-content .more,
.block7 .goods-content .more,
.block8 .goods-content .more,
.block9 .goods-content .more,
.block10 .goods-content .more,
.block11 .goods-content .more,
.block12 .goods-content .more {
  color: #154e93;
}
.block-item .goods-content .more:hover,
.block5 .goods-content .more:hover,
.block6 .goods-content .more:hover,
.block7 .goods-content .more:hover,
.block8 .goods-content .more:hover,
.block9 .goods-content .more:hover,
.block10 .goods-content .more:hover,
.block11 .goods-content .more:hover,
.block12 .goods-content .more:hover {
  text-decoration: none;
}
.block-item .goods-content .content-more,
.block5 .goods-content .content-more,
.block6 .goods-content .content-more,
.block7 .goods-content .content-more,
.block8 .goods-content .content-more,
.block9 .goods-content .content-more,
.block10 .goods-content .content-more,
.block11 .goods-content .content-more,
.block12 .goods-content .content-more {
  display: none;
}
.block-item .goods-content .block-title,
.block5 .goods-content .block-title,
.block6 .goods-content .block-title,
.block7 .goods-content .block-title,
.block8 .goods-content .block-title,
.block9 .goods-content .block-title,
.block10 .goods-content .block-title,
.block11 .goods-content .block-title,
.block12 .goods-content .block-title {
  text-align: left;
  margin: 10px 0 15px;
  padding: 0;
  font-size: 14px;
  color: #000;
  font-family: 'OpenSansBold';
  text-transform: uppercase;
}
footer {
  background: url('../img/footer-bg.jpg') no-repeat center center;
}
footer .map {
  position: relative;
}
footer .contacts-bottom {
  position: absolute;
  width: 370px;
  background: #1f1f1f;
  border: 2px solid #3ca6ef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 20px 15px;
  bottom: 20px;
  left: 35px;
}
footer .phone,
footer .email {
  margin: 0;
  color: #3eadf9;
  font-size: 15px;
  line-height: 21px;
  font-family: 'OpenSansBold';
}
footer .address {
  margin: 0;
  font-size: 15px;
  line-height: 21px;
  color: #797979;
}
footer .address span {
  color: #fff;
}
footer .notice {
  margin: 25px 0 0;
  font-size: 15px;
  line-height: 21px;
  color: #fff;
}
.block-info {
  background: #fff;
  padding: 25px 0 0;
}
.block-info .left,
.block-info .right {
  width: 49%;
  font-size: 11px;
  font-family: 'Arial';
}
/* Popup */
#thanks {
  position: relative;
  margin: 0 auto;
  width: 360px;
  padding: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 3px #333;
}
#thanks .form-title {
  padding-top: 15px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-family: 'OpenSansBold';
  color: #000;
  text-transform: uppercase;
}
.form-popup-consult,
.form-popup-buy {
  position: relative;
  margin: 0 auto;
  width: 280px;
  padding: 15px 10px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 3px #333;
}
.form-popup-consult .form-title,
.form-popup-buy .form-title {
  padding-top: 15px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-family: 'OpenSansBold';
  color: #000;
  text-transform: uppercase;
}
.form-popup-consult .form-title span,
.form-popup-buy .form-title span {
  font-size: 14px;
}
.form-popup-consult label,
.form-popup-buy label,
.form-popup-consult label + input,
.form-popup-buy label + input {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.form-popup-consult label,
.form-popup-buy label {
  width: 31px;
  height: 31px;
  margin-right: 5px;
}
.form-popup-consult label[for="name-popup"],
.form-popup-buy label[for="name-popup"] {
  background: url('../img/name-icon.png') no-repeat center center;
}
.form-popup-consult label[for="email-popup"],
.form-popup-buy label[for="email-popup"] {
  background: url('../img/email-icon.png') no-repeat center center;
}
.form-popup-consult label[for="phone-popup"],
.form-popup-buy label[for="phone-popup"] {
  background: url('../img/phone-icon.png') no-repeat center center;
}
.form-popup-consult input[type=text],
.form-popup-buy input[type=text],
.form-popup-consult input[type=email],
.form-popup-buy input[type=email] {
  width: 220px;
  height: 31px;
  margin-bottom: 14px;
  padding: 5px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #6f6f6f;
  border: 1px solid #a8a8a8;
  box-shadow: inset 0 1px 5px #ccc;
}
.form-popup-consult input[type="submit"],
.form-popup-buy input[type="submit"] {
  width: 100%;
  height: 49px;
  background: url('../img/btn-consult-block1.png') no-repeat center center;
  border: none;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'OpenSansSemibold';
}
.form-popup-consult input[type="submit"]:hover,
.form-popup-buy input[type="submit"]:hover {
  color: #333333;
  background: url('../img/btn-consult-block1-h.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.form-popup-consult input[type="submit"]:active,
.form-popup-buy input[type="submit"]:active {
  background: url('../img/btn-consult-block1-a.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.form-popup-consult .safe,
.form-popup-buy .safe {
  font-size: 9px;
  margin-top: 15px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url('../img/lock-icon.png') no-repeat left 5px center #dddddd;
  font-family: 'OpenSansSemibold';
}
.form-popup-buy {
  width: 495px;
}
.form-popup-buy .left {
  width: 260px;
}
.form-popup-buy .right {
  width: 215px;
  position: relative;
  text-align: right;
  padding-right: 5px;
}
.form-popup-buy .right input[type=text] {
  width: 155px;
}
.form-popup-buy .delivery-type {
  float: right;
  margin-bottom: 11px;
  margin-top: -1px;
  margin-right: -5px;
  display: block;
  padding-left: 60px;
  padding-top: 8px;
  width: 197px;
  height: 35px;
  font-size: 13px;
  color: #333;
  text-decoration: none;
  text-align: left;
  font-family: 'OpenSansBold';
  text-transform: uppercase;
}
.form-popup-buy .delivery-yes {
  background: url('../img/btn-delivery-yes.png') no-repeat center center;
}
.form-popup-buy .delivery-no {
  text-align: center;
  padding-left: 0;
  background: url('../img/btn-delivery-no.png') no-repeat center center;
}
.form-popup-buy label[for="name-buy"] {
  background: url('../img/name-icon.png') no-repeat center center;
}
.form-popup-buy label[for="email-buy"] {
  background: url('../img/email-icon.png') no-repeat center center;
}
.form-popup-buy label[for="phone-buy"] {
  background: url('../img/phone-icon.png') no-repeat center center;
}
.form-popup-buy label[for="region-buy"] {
  background: url('../img/region-icon.png') no-repeat center center;
}
.form-popup-buy label[for="address-buy"] {
  background: url('../img/address-icon.png') no-repeat center center;
}
.form-popup-buy textarea {
  width: 100%;
  height: 80px;
  padding: 5px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #6f6f6f;
  border: 1px solid #a8a8a8;
  box-shadow: inset 0 1px 5px #ccc;
  resize: none;
}
.form-popup-buy .safe {
  margin-top: 5px;
}
.form-popup-buy input[type=submit] {
  display: block;
  width: 230px;
  height: 45px;
  margin: 0 auto;
  background: url('../img/btn-request.png') no-repeat center center;
}
