@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSansRegular.ttf');
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSansLight.ttf');
}
@font-face {
	font-family: 'OpenSansSemiBold';
	src: url('../fonts/OpenSansSemibold.ttf');
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSansBold.ttf');
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
	font-family: 'OpenSans';
	color: #000;
	background: #fff;
}
address {
	font-style: normal;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clearfix {
	clear: both;
}
.container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.top-divider {
	width: 100%;
	min-width: 1000px;
	height: 3px;
	background: url('../img/top-divider.png') repeat-x center center;
}
.line-divider {
	width: 100%;
	min-width: 1000px;
	height: 20px;
	margin-bottom: -5px;
	background: url('../img/line-divider.png') repeat-x center center;
}
.not-all {
	font-family: 'OpenSansSemibold';
	font-size: 18px;
	text-align: center;
	margin: 20px 0;
}
.block1 {
	min-height: 795px;
	background: url('../img/block1-bg.jpg') no-repeat center center;

	header {
		padding-top: 15px;
	}
	.logo-top {
		display: block;
		width: 203px;
		height: 51px;
		margin-left: 20px;
		background: url('../img/logo.png') no-repeat center center;
	}
	.title-top {
		font-family: 'OpenSansSemiBold';
		width: 365px;
		font-weight: normal;
		margin: 5px 0 0 30px;
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;
	}
	.contacts-top {
		margin-top: 5px;
		text-align: center;
	}

	.phone-top {
		font-family: 'OpenSansBold';
		font-size: 23px;
		line-height: 19px;
		margin: 0;
		color: #316284;
	}
	.email-top {
		font-size: 12px;
		color: #979797;
		text-decoration: none;
	}
	.btn-call-top {
		display: block;
		width: 203px;
		height: 42px;
		margin-top: 3px;
		padding-top: 10px;
		font-size: 16px;
		line-height: 19px;
		color: #000;
		text-decoration: none;
		background: url('../img/btn-call-top.png') no-repeat center center;
	}
	.content {
		margin-top: 55px;

		h2 {
			margin: 0;
			font-family: 'OpenSansBold';
			font-size: 41px;
			line-height: 55px;
			color: #0f33b2;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 1px 1px 3px #fff;
		}
		h4 {
			margin: 35px 0 0 0;
			font-family: 'OpenSansSemiBold';
			font-size: 25px;
			line-height: 27px;
			color: #000;
			text-align: center;
		}
	}
	.form-block1 {
		width: 280px;
		margin-top: 60px;
		padding: 15px 10px 20px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
		background: rgba(255, 255, 255, 0.75);
		box-shadow: 0 1px 3px #333;

		.form-title {
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			font-family: 'OpenSansBold';
			color: #000;
			text-transform: uppercase;

			span {
				font-size: 14px;
			}
		}
		label, label + input {
			display: inline-block;
			vertical-align: top;
			margin-right: -4px;
		}
		label {
			width: 31px;
			height: 31px;
			margin-right: 5px;
		}
		label[for="name-block1"] {
			background: url('../img/name-icon.png') no-repeat center center;
		}
		label[for="email-block1"] {
			background: url('../img/email-icon.png') no-repeat center center;
		}
		label[for="phone-block1"] {
			background: url('../img/phone-icon.png') no-repeat center center;
		}
		input[type=text], input[type=email] {
			width: 220px;
			height: 31px;
			margin-bottom: 14px;
			padding: 5px;
			font-size: 14px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			color: #6f6f6f;
			border: 1px solid #a8a8a8;
			box-shadow: inset 0 1px 5px #ccc;
		}
		input[type="submit"] {
			width: 100%;
			height: 49px;
			background: url('../img/btn-consult-block1.png') no-repeat center center;
			border: none;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
			font-size: 16px;
			text-transform: uppercase;
			font-family: 'OpenSansSemibold';

			&:hover {
				color: lighten(#000, 20%);
				background: url('../img/btn-consult-block1-h.png') no-repeat center center;
				-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
			}
			&:active {
				background: url('../img/btn-consult-block1-a.png') no-repeat center center;
				-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
			}
		}
		.safe {
			font-size: 9px;
			margin-top: 15px;
			padding-left: 25px;
			padding-top: 5px;
			padding-bottom: 5px;
			background: url('../img/lock-icon.png') no-repeat left 5px center #ddd;
			font-family: 'OpenSansSemibold';
		}
	}
}
.block2 {
	background: url('../img/block2-bg.jpg') repeat left top;
	padding: 30px 0;

	.advantage-single {
		width: 200px;
		display: inline-block;
		vertical-align: top;
		margin-right: 62px;
		margin-bottom: 40px;

		img {
			margin-left: 20px;
		}
	}
	.advantage-single:nth-child(4n) {
		margin-right: -4px;
	}
	strong {
		display: block;
		margin-top: -15px;
		font-family: 'OpenSansBold';
		text-align: left;
		color: #164464;
		font-size: 17px;
		line-height: 19px;
		text-transform: uppercase;
	}
}
.block3 {
	background: #fff;
	padding: 60px 0;
	position: relative;
	
	.line-left {
		position: absolute;
		top: 81px;
		left: 0;
		width: 23%;
		height: 2px;
		background: #3c8cc3;
	}
	.line-right {
		position: absolute;
		top: 81px;
		right: 0;
		width: 40%;
		height: 2px;
		background: #6b6b6b;
	}
	h3 {
		margin: 0;
		font-size: 28px;
		padding: 0 5px;
		width: 670px;
		background: #fff;
		font-family: 'OpenSansSemibold';
		text-transform: uppercase;

		span {
			color: #3c8cc3;
		}
	}
	.for-list {
		margin-top: 55px;
	}
	.for-single {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 213px;
		margin-right: 45px;

		img {
			display: block;
			margin: 0 auto 10px;
		}
		strong {
			font-family: 'OpenSansBold';
			font-size: 18px;
			line-height: 22px;
			color: #303030;
			text-transform: uppercase;
		}
	}
	.img-wrapper {
		height: 168px;
	}
	.for-single:nth-child(4n) {
		margin-right: -4px;
	}
	.for-3 {

		strong {
			font-size: 16px;
		}
	}
}
.block4 {
	background: url('../img/block4-bg.jpg') no-repeat center center;
	padding: 39px 0;

	.inner {
		width: 100%;
		padding: 35px 20px 40px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
		background: url('../img/block4-inner-bg.jpg') repeat center center;

		iframe {
			display: block;
			text-align: center;
			margin: 0 auto; 
		}
	}
	.block-title {
		margin: 0;
		margin-bottom: 30px;
		font-size: 28px;
		color: #303030;
		font-family: 'OpenSansSemibold';
		text-transform: uppercase;

		span {
			color: #3c8cc3;
			font-family: 'OpenSans';
		}
	}
	.bed-list {
		margin-top: 30px;
	}
	.bed-single {
		display: inline-block;
		vertical-align: top;
		width: 160px;
		margin-right: 36px;
		text-align: center;

		strong {
			font-family: 'OpenSansBold';
			font-size: 18px;
			color: #6ba9d4;
			text-align: center;
			text-transform: uppercase;
		}
		.desc {
			margin: 5px 0 0;
			text-align: left !important;
			font-size: 13px;
		}
	}
	.bed-single:nth-child(5n) {
		margin-right: -4px;
	}
	.bed-1 {

		.desc {
			text-align: center !important;
		}
	}
}
.block-item, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12 {
	background: #fff;
	padding: 50px 0;

	.block-title {
		text-align: center;
		margin: 0 0 30px;
		font-size: 28px;
		padding: 0 5px;
		color: #3c8cc3;
		font-family: 'OpenSans';
		background: #fff;
		
		text-transform: uppercase;

		span {
			color: #303030;
			font-family: 'OpenSansSemibold';
		}
	}
	.leftcol {
		margin-left: 15px;
		width: 475px;
	}
	.rightcol {
		margin-left: 15px;
		width: 480px;
	}
	.goods-preview {
		cursor: pointer;

		img {
			width: 474px;
			height: 315px;
			border: 1px solid #3c8cc3;
			cursor: pointer;
		}
		img + p {
			background: #eaeaea;
			text-align: center;
			color: #adadad;
			font-size: 13px;
			margin: 0;
			margin-top: -5px;
			padding: 5px 0;
		}
	}
	.goods-btn-block {
		margin-top: 15px;
		padding: 8px;
		background: #eaeaea;

		.left {
			width: 324px;
		}
		.right {
			width: 133px;
		}
	}
	.consult-block
	.consult {
		margin: 0;
		padding-left: 37px;
		background: url('../img/ask-icon.png') no-repeat left center;
		font-family: 'OpenSansBold';
		font-size: 20px;
		color: #3c8cc3;

		span {
			display: block;
			line-height: 16px;
			font-family: 'OpenSans';
			font-size: 12px;
			color: #5a5a5a;
		}
	}
	.price {
		margin: 0;
		font-family: 'OpenSansBold';
		font-size: 20px;
		color: #3c8cc3;

		span {
			display: block;
			line-height: 16px;
			font-family: 'OpenSansSemiBold';
			font-size: 12px;
			color: #333;
		}
	}
	.btn-buy-block5,
	.btn-buy-block6,
	.btn-buy-block7,
	.btn-buy-block8, 
	.btn-buy-block9,
	.btn-buy-block10,
	.btn-buy-block11,
	.btn-buy-block12 {
		display: block;
		width: 135px;
		height: 45px;
		margin-top: 10px;
		background: url('../img/btn-buy-block5.png') no-repeat center center;
		font-size: 16px;
		font-family: 'OpenSansBold';
		text-transform: uppercase;
		color: #333;
		padding-top: 12px;
		text-align: center;
		text-decoration: none;

		&:hover {
			color: lighten(#000, 20%);
			background: url('../img/btn-buy-block5-h.png') no-repeat center center;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
		}
		&:active {
			background: url('../img/btn-buy-block5-a.png') no-repeat center center;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
		}
	}
	.btn-about-block5,
	.btn-about-block6,
	.btn-about-block7,
	.btn-about-block8,
	.btn-about-block9,
	.btn-about-block10,
	.btn-about-block11,
	.btn-about-block12 {
		display: block;
		width: 314px;
		height: 45px;
		margin-top: 10px;
		background: url('../img/btn-about-block5.png') no-repeat center center;
		font-size: 12px;
		font-family: 'OpenSansBold';
		text-transform: uppercase;
		color: #fff;
		padding-top: 14px;
		text-align: center;
		text-decoration: none;
	}
	.goods-single {
		width: 105px;
		height: 105px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-right: 15px;
		margin-bottom: 14px;
		border: 1px solid #ccc;
		cursor: pointer;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -40.5px;
			margin-left: -47.5px;
			width: 95px;
			height: 81px;
		}
	}
	.goods-single:hover {
		border: 1px solid #666;
	}
	.goods-single:nth-child(4n) {
		margin-right: -4px;
	}
	.goods-title {
		font-size: 19px;
		line-height: 24px;
		margin: 0 0 10px;
		font-family: 'OpenSansSemibold';
		text-transform: uppercase;
	}
	.goods-content {
		margin: 0;
		font-size: 15px;
		line-height: 20px;

		p {
			margin: 0;
		}
		.more {
			color: #154e93;
		}
		.more:hover {
			text-decoration: none;
		}
		.content-more {
			display: none;
		}
		.block-title {
			text-align: left;
			margin: 10px 0 15px;
			padding: 0;
			font-size: 14px;
			color: #000;
			font-family: 'OpenSansBold';
			text-transform: uppercase;
		}
	}
}
footer {
	background: url('../img/footer-bg.jpg') no-repeat center center;

	.map {
		position: relative;
	}
	.contacts-bottom {
		position: absolute;
		width: 370px;
		background: #1f1f1f;
		border: 2px solid #3ca6ef;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		padding: 20px 15px;
		bottom: 20px;
		left: 35px;
	}
	.phone, .email {
		margin: 0;
		color: #3eadf9;
		font-size: 15px;
		line-height: 21px;
		font-family: 'OpenSansBold';
	}
	.address {
		margin: 0;
		font-size: 15px;
		line-height: 21px;
		color: #797979;

		span {
			color: #fff;
		}
	}
	.notice {
		margin: 25px 0 0;
		font-size: 15px;
		line-height: 21px;
		color: #fff;
	}
}
.block-info {
	background: #fff;
	padding: 25px 0 0;

	.left, .right {
		width: 49%;
		font-size: 11px;
		font-family: 'Arial';
	}
}
/* Popup */
#thanks {
	position: relative;
	margin: 0 auto;
	width: 360px;
	padding: 15px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 1px 3px #333;

	.form-title {
		padding-top: 15px;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		font-family: 'OpenSansBold';
		color: #000;
		text-transform: uppercase;
	}
}
.form-popup-consult, .form-popup-buy {
		position: relative;
		margin: 0 auto;
		width: 280px;
		padding: 15px 10px 20px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
		background: #fff;
		box-shadow: 0 1px 3px #333;

		.form-title {
			padding-top: 15px;
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			font-family: 'OpenSansBold';
			color: #000;
			text-transform: uppercase;

			span {
				font-size: 14px;
			}
		}
		label, label + input {
			display: inline-block;
			vertical-align: top;
			margin-right: -4px;
		}
		label {
			width: 31px;
			height: 31px;
			margin-right: 5px;
		}
		label[for="name-popup"] {
			background: url('../img/name-icon.png') no-repeat center center;
		}
		label[for="email-popup"] {
			background: url('../img/email-icon.png') no-repeat center center;
		}
		label[for="phone-popup"] {
			background: url('../img/phone-icon.png') no-repeat center center;
		}
		input[type=text], input[type=email] {
			width: 220px;
			height: 31px;
			margin-bottom: 14px;
			padding: 5px;
			font-size: 14px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			color: #6f6f6f;
			border: 1px solid #a8a8a8;
			box-shadow: inset 0 1px 5px #ccc;
		}
		input[type="submit"] {
			width: 100%;
			height: 49px;
			background: url('../img/btn-consult-block1.png') no-repeat center center;
			border: none;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
			font-size: 16px;
			text-transform: uppercase;
			font-family: 'OpenSansSemibold';

			&:hover {
				color: lighten(#000, 20%);
				background: url('../img/btn-consult-block1-h.png') no-repeat center center;
				-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
			}
			&:active {
				background: url('../img/btn-consult-block1-a.png') no-repeat center center;
				-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
			}
		}
		.safe {
			font-size: 9px;
			margin-top: 15px;
			padding-left: 25px;
			padding-top: 5px;
			padding-bottom: 5px;
			background: url('../img/lock-icon.png') no-repeat left 5px center #ddd;
			font-family: 'OpenSansSemibold';
		}
	}
.form-popup-buy {
	width: 495px;

	.left {
		width: 260px;
	}
	.right {
		width: 215px;
		position: relative;
		text-align: right;
		padding-right: 5px;

		input[type=text] {
			width: 155px;
		}
	}
	.delivery-type {
		float: right;
		margin-bottom: 11px;
		margin-top: -1px;
		margin-right: -5px;
		display: block;
		padding-left: 60px;
		padding-top: 8px;
		width: 197px;
		height: 35px;
		font-size: 13px;
		color: #333;
		text-decoration: none;
		text-align: left;
		font-family: 'OpenSansBold';
		text-transform: uppercase;
	}
	.delivery-yes {
		background: url('../img/btn-delivery-yes.png') no-repeat center center;
	}
	.delivery-no {
		text-align: center;
		padding-left: 0;
		background: url('../img/btn-delivery-no.png') no-repeat center center;
	}
	label[for="name-buy"] {
		background: url('../img/name-icon.png') no-repeat center center;
	}
	label[for="email-buy"] {
		background: url('../img/email-icon.png') no-repeat center center;
	}
	label[for="phone-buy"] {
		background: url('../img/phone-icon.png') no-repeat center center;
	}
	label[for="region-buy"] {
		background: url('../img/region-icon.png') no-repeat center center;
	}
	label[for="address-buy"] {
		background: url('../img/address-icon.png') no-repeat center center;
	}
	textarea {
		width: 100%;
		height: 80px;
		padding: 5px;
		font-size: 14px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
		color: #6f6f6f;
		border: 1px solid #a8a8a8;
		box-shadow: inset 0 1px 5px #ccc;
		resize: none;
	}
	.safe {
		margin-top: 5px;
	}
	input[type=submit] {
		display: block;
		width: 230px;
		height: 45px;
		margin: 0 auto;
		background: url('../img/btn-request.png') no-repeat center center;
	}
}